.bg-super-dark {
    --bs-bg-opacity: 4;
    background-color: black;
}

.fixed-css{
    position: fixed;
    top: 0;

}

.right-bottom-corner-fixed {
    position: fixed;
    top: 83%;
    right: 80%;
    left: 90%;
    z-index: 1;
}

.icon-size{
    height: 125px;
    vertical-align: middle;
    width: 125px;
}



